<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <script src="index.js"></script>
</head>

<body>
    <form action="/product" method="post">
        {{> navbar}}

        {{!-- part 1 --}}

        <div class="container" id="menu">
            <div class="row">
                {{#each products}}
                <h1>hello</h1>
                <div class="col-md-3 col-sm-6 ">
                    <div class="product-grid4">
                        <img src={{image}} alt="">
                        <div class="product-content">
                            <h3 class="title"><a href="#">{{product_name}}</a>XYZ</h3>
                            <div class="price">
                                XYZ{{discount_price}}
                                <span>{{price}}</span>
                                <h3 class="title"><a href="#">{{description}}</a></h3>
                                <h3 class="title"><a href="#">{{category}}</a></h3>
                            </div>
                            <a class="add-to-cart" href="">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{#unless products.length}}
                <li>No products available.</li>
                {{/unless}}
                {{!-- <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <img src="image/2.jpg" alt="">
                        <div class="product-content">
                            <h3 class="title"><a href="#">Men's Nike Shoe</a></h3>
                            <div class="price">
                                $17.60
                                <span>$20.00</span>
                            </div>
                            <a class="add-to-cart" href="">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <img src="image/3.jpg" alt="">
                        <div class="product-content">
                            <h3 class="title"><a href="#">Women's Gucci Watch</a></h3>
                            <div class="price">
                                $14.40
                                <span>$16.00</span>
                            </div>
                            <a class="add-to-cart" href="">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <img src="image/4.jpg" alt="">
                        <div class="product-content">
                            <h3 class="title"><a href="#">QocoQola</a></h3>
                            <div class="price">
                                $14.40
                                <span>$16.00</span>
                            </div>
                            <a class="add-to-cart" href="">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>


        {{!-- part 2 --}}

        {{!-- <div class="container mt-5">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <img src="image/5.jpg" alt="">
                        <div class="product-content">
                            <h3 class="title"><a href="#">Her Secret Perfume</a></h3>
                            <div class="price">
                                $14.40
                                <span>$16.00</span>
                            </div>
                            <a class="add-to-cart" href="">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <img src="image/6.jpg" alt="">
                        <div class="product-content">
                            <h3 class="title"><a href="#">Fashion Combo</a></h3>
                            <div class="price">
                                $17.60
                                <span>$20.00</span>
                            </div>
                            <a class="add-to-cart" href="">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <img src="image/7.jpg" alt="">
                        <div class="product-content">
                            <h3 class="title"><a href="#">Women's Black Leather Bag</a></h3>
                            <div class="price">
                                $14.40
                                <span>$16.00</span>
                            </div>
                            <a class="add-to-cart" href="">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <img src="image/8.jpg" alt="">
                        <div class="product-content">
                            <h3 class="title"><a href="#">Hall Luxary Sofa</a></h3>
                            <div class="price">
                                $14.40
                                <span>$16.00</span>
                            </div>
                            <a class="add-to-cart" href="">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}

        {{!-- part 3 --}}

        {{!-- <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <img src="image/9.jpg" alt="">
                        <div class="product-content">
                            <h3 class="title"><a href="#">Sony 72" LED TV</a></h3>
                            <div class="price">
                                $14.40
                                <span>$16.00</span>
                            </div>
                            <a class="add-to-cart" href="">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <img src="image/10.jpg" alt="">
                        <div class="product-content">
                            <h3 class="title"><a href="#">Burberry Limited</a></h3>
                            <div class="price">
                                $17.60
                                <span>$20.00</span>
                            </div>
                            <a class="add-to-cart" href="">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <img src="image/11.jpg" alt="">
                        <div class="product-content">
                            <h3 class="title"><a href="#">Brand Perfume</a></h3>
                            <div class="price">
                                $14.40
                                <span>$16.00</span>
                            </div>
                            <a class="add-to-cart" href="">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <img src="image/12.jpg" alt="">
                        <div class="product-content">
                            <h3 class="title"><a href="#">Zara man Fashion</a></h3>
                            <div class="price">
                                $14.40
                                <span>$16.00</span>
                            </div>
                            <a class="add-to-cart" href="">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}

    </form>

</body>

</html>